<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>Udoo - First configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/navbar-static-top.css' />
    <!--http://bootflat.github.io/-->
    <link rel='stylesheet' href='/stylesheets/bootflat.css' />
    <!--http://getbootstrap.com/examples/dashboard/-->
   <link rel='stylesheet' href='/stylesheets/dashboard.css' />

   <script type="text/javascript" src="/js/app.js"></script>
   <script type="text/javascript" src="/js/controllers.js"></script>

   <script type='text/javascript' src='/socket.io/socket.io.js'></script>
   </script><script type='text/javascript' src='./js/jquery-2.1.4.min.js'></script>
      </script><script type='text/javascript' src='./js/jquery.repeatedclick.min.js'></script>




     <!--    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
         <script>
           var socket = io();
         </script>-->

  </head>
  <body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-3"></div>
          <div class="col-sm-3 col-md-3 col-xs-3" id="forward">
              <div class="thumbnail tile tile-wide tile-pomegranate">
                  <h2 class="tile-text">
                      &uarr;</h2>
              </div>
</div>
          <div class="col-sm-3 col-md-3 col-xs-3"></div>
          </div>



      <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-3" id="left">

              <div class="thumbnail tile tile-wide tile-pomegranate">
                  <h2 class="tile-text">
                      &larr;</h2>

              </div></div>
              <div class="col-sm-3 col-md-3 col-xs-3"></div>
              <div class="col-sm-3 col-md-3 col-xs-3" id="right">

                  <div class="thumbnail tile tile-wide tile-pomegranate">
                      <h2 class="tile-text">
                          &rarr;</h2>

                  </div>

              </div>
          </div>
      <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-3"></div>
              <div class="col-sm-3 col-md-3 col-xs-3" id="backwards">

                  <div class="thumbnail tile tile-wide tile-pomegranate">
                      <h2 class="tile-text">
                          &darr;</h2>

                  </div>

              </div>
          </div>
      <div class="col-sm-3 col-md-3 col-xs-3"></div>
      </div>
  </div>
  <script>
      var socket = io();
      /* https://github.com/alexandrz/jQuery-repeatedclick-plugin*/
      /* Thank you Man! */


      $('#forward').repeatedclick(function () {
          socket.emit('move','a');
      }, {
          duration  : 500, // starting duration
          speed     : 0.8, // duration multiplier
          min       : 100  // minimum duration
      });

      $('#backwards').repeatedclick(function () {
          socket.emit('move','i');
      }, {
          duration  : 500, // starting duration
          speed     : 0.8, // duration multiplier
          min       : 100  // minimum duration
      });

      $('#left').repeatedclick(function () {
          socket.emit('move','s');
      }, {
          duration  : 500, // starting duration
          speed     : 0.8, // duration multiplier
          min       : 100  // minimum duration
      });

      $('#right').repeatedclick(function () {
          socket.emit('move','d');
      }, {
          duration  : 500, // starting duration
          speed     : 0.8, // duration multiplier
          min       : 100  // minimum duration
      });
  </script>
  </body>
</html>
